@media(min-width:576px){
.nav-item:hover .nav-link{
    background-color: lightgray !important;
    color:#17a2b8 !important;
  }

  /*---------.submenu--------------*/
  .submenu-item{
      border-bottom: 1px solid lightgrey !important;
      padding: 8px 0 0 0  !important;
      
  }
  .submenu-item:hover{
    background-color:#851e72 !important;
    transition: 0.4s linear;
  }
 
  .submenu-item:hover .cake_kids{
    color: yellow ; 
  } 
  .submenu-item:hover .cake_18th{
    color: greenyellow ;
  }
  .submenu-item:hover .cake_wedding{
    color: skyblue ;
  }
  .submenu-item:hover .cake_adult{
    color: orange ;
  }
  .submenu-item:hover .cake_creative{
    color: lightseagreen;
  }
  .submenu-item:hover .my_cookie{
    color: orangered ;
  }

 .login-form{
    max-width: 80%;
}
  /*-------------CAKES (gallery)----------------*/

.title::before,
.title::after{  
    content: '';
    position: absolute !important;
    display: block;
    top:50% !important;
    width: 80px;
    height: 3px ;
    background-color:#851e72 !important;
}
.title::before{
   left:10%;
}
.title::after{
    right:10%;
}

.cakes img {
  height: 100%;
}

}



@media(min-width:768px){
  header{
    background-color: transparent;
  }
   .navbar-brand {
     max-width: 18% !important;
   }
   .navbar-brand img{
    max-width:80%;
    max-height: 70%;
}
    .nav-item{
        border-bottom: none;
        padding:  0px;
       /* text-shadow: 3px 3px 10px #ff07c1; */
    } 
    .nav-item .nav-link{
      text-decoration-style: double;
      font-size:1.4rem; 
    }  
    .submenu-item{
        border-bottom: 2px solid lightgrey !important;
    }
    .fa-caret-down,
    .fa-caret-up{
        display: none !important;
    }
    .submenu{
        display:none;
        position: absolute;
        left:-25%;
        top:100%;
        animation: submenu 1s linear;
        width: 180px;
    }
   
    .submenu-link{
        text-align: center;
    }
    .nav-item:hover .nav-link {
        background-color: transparent!important;
       
      }
      .cake-nav .submenu-item .cake_kids,
      .cake-nav .submenu-item .cake_18th,
      .cake-nav .submenu-item .cake_wedding,
      .cake-nav .submenu-item .cake_creative,
      .cake-nav .submenu-item .cake_adults,
      .cake-nav .submenu-item .my_cookie{
         border-bottom: 2px solid #851e72 !important;
        } 

     /*.submenu-item:first-of-type:hover{
        border-bottom:2px solid yellow !important;    
      }*/
      .submenu-item:nth-of-type(2):hover{
        color: greenyellow ;
      }
      .submenu-item:nth-of-type(3):hover{
        color: skyblue ;
      }
     
      .submenu-item:nth-of-type(4):hover{
        border-bottom:2px solid orange !important;
      }
 
      .submenu-item:nth-of-type(5):hover{
        color: lightseagreen;
      }
      .submenu-item:nth-of-type(6):hover{
        color: orangered ;
      }

    .nav-item:hover > .submenu {
        display: block !important;
        transition:0.5s linear;
    }
    @keyframes submenu{
        0% {
            opacity:0;
           /* transform:translateY(50px);*/
        }
        100%{
            opacity:1;
            /*transform:translateY(0px);*/
        }
    }


    /*section about*/
    .about-info{
      max-width: 70%;
  }
  .about h1 {
    margin-bottom: 80px !important
  }
  .about article h5:hover{
    opacity: 0.5;
  }

  /*-------------CAKES (gallery)----------------*/
  .cakes-info{
    padding-top:200px !important;
  }

.title::before,
.title::after{   
    width: 120px;
}
.title::before{
   left:15%;
}
.title::after{
    right:15%;
}
.cake .submenu{
  display: none;
}

}




@media(min-width:992px){
    *{
        font-size: 16px;
    }

   .nav-item .nav-link{
      font-size: 1.5rem;
    }
    .nav-item, 
    .submenu-item{
        border-bottom: none;
        padding:  0 8px;
    }

/*-------------CAKES (gallery)----------------*/

    .title::before,
    .title::after{     
      width: 180px;
  }
  .title::before{
    left:15%;
 }
 .title::after{
     right:15%;
 }
.login-form{
  max-width: 50%;
    }
}



@media(min-width:1200px){
  .navbar-brand img{
    max-width:60%;
    max-height: 60%;
}

}
